*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
html,body{
    height: 100%;
    width: 100%;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #222;
}
#content h1{
    color: #fff;
    font-size: 100px;
}
#content p{
    color: #fff;
    font-size: 20px;
    width: 50%;
    margin-top: 20px 0;
}
#content p span{
    color: rgb(48, 48, 221);
}